@import "../../styles/base";
@import "../../styles/variables";

.playground {
  padding: 50px 0;
  background: $main-white;
  display: flex;
  justify-content: center;
}

.white {
  background-color: $main-white;
}
