@import '../../styles/variables';

.languageSelector {
  display: flex;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 16px;
}

.languageCaption {
  margin-right: 10px;
  font-family: $font-caption;
  font-size: 14px;
  line-height: 16px;
}

.logo {
  max-height: 100%;
  max-width: 100%;
}

.logoWrapper {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.name {
  font-family: $font-caption;
  text-align: center;
  font-size: 48px;
}

.btnWrapper {
  position: absolute;
  bottom: 124px;
  left: 50%;
  transform: translateX(-50%);
}
