@import '../../styles/variables';

.category {
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 20px;
}
