@import '../../styles/variables';

.section {
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
}

.img {
  position: relative;
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
}

.tags {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.title {
  margin-bottom: 10px;
}

.paragraph {
  margin-bottom: 14px;
}

.price {
  display: flex;
  flex-direction: row-reverse;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.btn {
  background: $main-green;
  border-color: $main-green;
  border-radius: 0px;
}

.text {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
