@import "../../../../styles/variables";

.caption {
  margin: 12px 0 15px 0;
  text-align: center;
  font-family: $font-base;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $main-dark;
}

.description {
  font-family: $font-caption;
  font-size: 9px;
  line-height: 13px;
  color: $main-dark;
}

.wrapper {
  padding: 12px 16px 16px 16px;
}
