@import "../../../../styles/variables";

.button {
  border: 0.5px solid $main-dark;
  height: 42px;
  width: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-family: $font-base;
  font-size: 14px;
  line-height: 17px;
  color: $main-dark;
}
