@import "../../../styles/variables";

.header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: $bg-header;
  left: 0;
  right: 0;
  top: 0;
  height: 64px;
  z-index: 5;
}

.pageHeader {
  height: 64px;
  padding: 16px;
}

.heading {
  font-family: $font-caption;
  font-size: 18px;
  color: $main-black;
}

